* {
  outline: 0px solid red;
}
body {
  margin: 0;
  font-family: 'Nunito';
  color: #221638;
}
a {
  text-decoration: none;
}
.container {
  width: 100%;
  margin: auto;
  background-color: #f5f7fa;
}
.header {
  display: flex;
  position: relative;
  /* grid-template-columns: 75% 29%; */
  justify-content: space-evenly;
  /* height: 70px; */
  background: rgb(255, 255, 255);
  color: #221638;
  align-items: center;
}
@media (max-width: 480px) {
  .header {
    flex-direction: column;
    width: 100%;
  }
}
.title {
  padding: 0px;
  margin: 0;
  position: relative;
  /* top: 3px; */
  font-size: 35px;
}
/* .menu {
  
  display: flex;
  font-size: 20px;
  position: relative;
  justify-content: space-evenly;
} */
.menu {
  display: flex;
  margin: 0;
  justify-content: space-evenly;
  height: 70px;
  align-items: center;
}

.header div {
  list-style-type: none;
}
.menu li {
  margin-left: 30px;
  position: relative;
  right: 15px;
}
li {
  margin-left: 0px;
}
li a {
  text-decoration: none;
  color: #221638;
}
li a:hover,
li a:focus {
  /* border-radius: 20px; */
  /* padding: 5px; */
  padding-left: 8px;
  padding-right: 8px;
  border: 0px solid red;
  background-color: white;
  border-bottom: 1px solid #fe4a55;
  color: black;
}
.join-us {
  position: relative;
  width: 150px;
  height: 40px;
  /* padding: 0px; */
  /* bottom: 20px;
  right: 40px; */
  background-color: #fe4a55;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 20px;
  /* justify-content: center; */

  /* 
  width: 150px;
  height: 40px;
  background-color: #fe4a55;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  margin-left: 12px; */
}
.join-us a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.join-us:hover {
  background-color: #221638;
}
.picture-sect {
  display: flex;
  /* grid-template-columns: 40% 0%; */
  justify-content: space-evenly;
  background-color: #fffaf3;
}
.picture-sect-text {
  font-size: 45px;
  font-family: 'Nunito';
  font-weight: bolder;
  position: relative;
  /* height: 200px; */
  margin-left: 0px;
  padding: 20px;
  /* top: 80px; */
}

.join-free {
  width: 150px;
  height: 40px;
  background-color: #fe4a55;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
}
.join-free a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
.join-free:hover {
  color: rgb(255, 255, 255);
  background-color: #221638;
  text-decoration: none;
}

.course-catalogue {
  display: flex;
  width: 90%;
  /* height: 300px; */
  justify-content: space-around;
  text-align: center;
  background-color: #ffffff;
  margin: 40px auto;
}
.course-catalogue-list {
  /* width: 40px; */
  padding-top: 20px;
  padding-right: 10px;
  border-right: 10px solid #f5f7fa;
}
.course-catalogue-list:hover {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
  /*
  min-height: 200px;
  width: 50vw;
  margin: 100px auto;
  background: white;
  border-radius: 5px; */
}
.course-catalogue-list a {
  color: #fe4a55;
}

.more-courses {
  height: 100px;
  text-align: center;
}
.more-courses a {
  color: #fe4a55;
}
.online-sect {
  display: flex;
  width: 100%;
  height: 500px;

  background-color: rgb(255, 255, 255);
}
.online-sect-box {
  width: 90%;
  display: flex;
  margin: auto;
}
.online-sect-img img {
  width: 100%;
  height: 100%;
}
.online-sect-text {
  padding-left: 0px;
}
.online-sect-properties {
  display: flex;
  margin-right: 0px;
  justify-content: space-around;
  flex-wrap: wrap;
}
.online-sect-properties h4 {
  padding: 12px;
  background-color: #ffffff;
  color: #221638;
  border-radius: 20px;
}
.online-sect-properties h4:hover,
.online-sect-properties h4:focus {
  background-color: #221638;
  color: white;
  border-radius: 20px;
}
.free-button-container {
  display: flex;
  justify-content: center;
}
.join-for-free {
  width: 150px;
  height: 40px;
  background-color: #fe4a55;
  color: white;
  font-size: 20px;
  border: none;
  border-radius: 20px;
  text-align: center;
  margin-left: ;
}
.join-for-free a {
  color: white;
}
.join-for-free:hover {
  color: rgb(255, 255, 255);
  background-color: #221638;
  text-decoration: none;
}
.paid-courses-pre-sect {
  width: 100%;
  text-align: center;
  margin: auto;
  background-color: white;
}
.paid-courses-sect-preheader {
  font-size: 2.25em;
  font-weight: bolder;
  color: #221638;
}
.paid-courses-sect {
  display: flex;
  width: 90%;
  margin: auto;
}
.paid-courses-sect-grid {
  display: flex;
  width: 50%;
  padding: 20px;
}
.paid-course-sect-text {
  padding: 15px;
}
.paid-course-sect-text h2 {
  color: #fe4a55;
}
.paid-course-sect-text h4 {
  color: #221638;
}
.paid-course-sect-pic img {
  border-radius: 50%;
  object-fit: cover;
}
.paid-course-sect-pic img:hover {
  animation-name: course-transit;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}
@keyframes course-transit {
  0% {
    border-radius: 50%;
  }
  100% {
    border-radius: 0;
  }
}
.paid-course-sect-text a {
  color: #221638;
}
.footer {
}
@media (max-width: 980px) {
  .header {
    flex-direction: column;
    width: 100%;
  }
  .menu {
    position: relative;
  }
  .picture-sect {
    flex-direction: column;
  }
  .picture-sect-image img {
    width: 410px;
    height: 400px;
  }
  .course-catalogue {
    flex-direction: column;
    /* outline: 1px solid red; */
  }
  .title {
    width: 100%;
    text-align: center;
  }
  .join-us {
    text-align: center;
    width: 50%;
    position: relative;
    left: 0px;
    margin: auto;
  }
  .online-sect-box {
    flex-direction: column;
  }
  .paid-courses-sect {
    flex-direction: column;
  }
}
